{% extends "layout.html" %}

{% block contenido %}

<section id="chat">
    <h2>Chat en vivo</h2>
    <div>Hay <span id="usuarios"></span> usuarios conectados</div>

    <h4>Mensajes de los usuarios:</h4>
    <div id="mensajes">
        <!--aqui se agragan las cajas mensaje-->
    </div>
    <p>
        <label for="mensaje-usuario">Mensaje:</label>
        <input id="mensaje-usuario" type="text" placeholder="Escriba su mensaje aqui"/>
    </p>
    <p>
        <label for="nombre-usuario">Usuario:</label>
        <input id="nombre-usuario" type="text" placeholder="Su nombre aqui"/>
    </p>
    <button id="boton">
        Enviar
    </button>
</section>

{% include "scripts_chat.html" %}

{% endblock %}
