{% extends "layout.html" %}

{% block contenido %}

        <section id="galeria">
            <h2>Galería</h2>
            <div id="contenedor-imagen">
                <img src="../imagenes/galeria/principal1.jpg"/>
                <div id="descripcion-imagen">
                    Unos globlos
                </div>
            </div>
            <div id="contenedor-preview">
                <img data-ruta-principal="../imagenes/galeria/principal1.jpg" data-descripcion="Unos globos" src="../imagenes/galeria/preview1.jpg"/>
                <img data-ruta-principal="../imagenes/galeria/principal2.jpg" data-descripcion="El mounstro verde" src="../imagenes/galeria/preview2.jpg"/>
                <img data-ruta-principal="../imagenes/galeria/principal3.jpg" data-descripcion="Peces" src="../imagenes/galeria/preview3.jpg"/>
            </div>
        </section>
        {% include "scripts_galeria.html" %}
{% endblock %}
